
version: '3.8'
services:
  client:
    build:
      context: ./client
      dockerfile: DockerFile
    ports:
      - "5173:5173"
  server:
    build:
      context: ./server
      dockerfile: DockerFile
    ports:
      - "4747:4747"
    depends_on:
      mysql:
        condition: service_healthy
    
    env_file:
      - ./server/.env.dev

  mysql:
    image: mysql:8.0
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: MY_sql_pass!123
      MYSQL_DATABASE: my_data
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
      interval: 5s
      start_period: 30s
  redis:
    image: redis:7
    ports: 
      - "6379:6379"

volumes:
  mysql_data: