
.banana-history-container {
    background: var(--bg);
    border-radius: 16px;
    box-shadow: var(--shadow);
    padding: 2rem;
    margin-bottom: 2rem;
}

.banana-history-container h1 {
    font-size: 1.5rem;
    color: var(cold-yellow);
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--darker-white);
    padding-bottom: 0.5rem;
}

.banana-history-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.banana-history-item {
    padding: 1rem;
    border-bottom: 1px solid  var(--darker-white);
    display: flex;
    flex-direction: column;
}

.banana-history-item:last-child {
    border-bottom: none;
}

.banana-history-username {
    font-weight: bold;
    color: #222;
    margin-bottom: 0.5rem;
}

.banana-history-action {
    color: #444;
    margin-bottom: 0.5rem;
}

.banana-history-caption {
    color: var(--caption-text-color);
    margin-bottom: 0.5rem;
    max-width: 300px;
}

.banana-history-date {
    font-size: 0.8rem;
    color: (--date-text-color);
}

.banana-history-item.no-history {
    text-align: center;
    color: (--date-text-color);
}

/* Scroll list styles */
.scroll-list {
    max-height: 300px;
    overflow-y: auto;
}

.loader-container{
    display: flex;
    justify-content: center;
}
/* Add more styles as needed */