
.banana-count-container {
    background: var(--bg);
    border-radius: 16px;
    box-shadow: var(--shadow);
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center; /* Center the content */
}

.banana-count-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.banana-count-container h2:last-child {
    margin-bottom: 0; /* Remove margin from the last h2 */
}

.count {
    font-size: 1.2rem;
    font-weight: 600;
}