/* ==========================================================================
   1. Component-specific styles - Buttons
   ========================================================================== */

/* General button styles */
button {
    border: none;
    border-radius: 8px;
    padding: 0.75em 1.5em;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.1s;
    text-align: center;
    /* Add more general button styles here */
}

/* Accept Friend Request Button */
.accept-friend-request-button {
    background-color: #28a745; /* Green */
    color: #fff;
}

.accept-friend-request-button:hover {
    background-color: #218838;
}

/* Remove User Button */
.remove-user-button {
    background-color: #dc3545; /* Red */
    color: #fff;
}

.remove-user-button:hover {
    background-color: #c82333;
}

/* Log Out Button */
.log-out-button {
    background: var(--main-color); /* Blue */
}

.log-out-button:hover {
    background: var(--main-color);
}

/* Decline Friend Request Button */
.decline-friend-request-button {
    background-color:var(--gray); /* Gray */
    color: #fff;
}

.decline-friend-request-button:hover {
    background-color: var(--gray);
}

/* Send Friend Request Button */
.send-friend-request-button {
    background-color: #17a2b8; /* Cyan */
    color: #fff;
}

.send-friend-request-button:hover {
    background-color: #138496;
}

/* Add Banana Count Button */
.add-banana-count-button {
    background: var(--main-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
}

.add-banana-count-button:hover {
    background: var(--main-color);
}

/* Subtract Banana Button */
.subtract-banana-button {
    background: var(--main-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
}

.subtract-banana-button:hover {
    background: var(--main-color);
}

/* Submit Bananas Button */
.submit-banana-button {
    background: var(--main-color);
}

.submit-banana-button:hover {
    background: var(--main-color);
}